/* General */
body {
  display: flex;
}

#wrapper {
  display: flex;
  width: 100%;
}

/* Sidebar */

#sidebar-wrapper {
  min-width: 250px;
  max-width: 250px;
  background: #343a40;
  color: #fff;
  flex-shrink: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#sidebar-wrapper .list-group-item {
  border: none;
}

#page-content-wrapper {
  flex: 1;
  padding: 20px;
}

#content {
  flex: 1;
  padding: 20px;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-menu a {
  color: #fff;
}

.dropdown-menu a:hover {
  background-color: #495057;
}

.position-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Panel */

.task-box {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.task-box:hover {
  background-color: #495057; /* Slightly lighter color on hover */
}

#panel-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 1000;
  background-color: #343a40;
  overflow-y: auto;
}

/* Console */
.console-output {
    background-color: #888;  /* Lighter grey for better visibility */
    color: #000;             /* Dark text color for better contrast */
    border: 1px solid #333;  /* Subtle border */
    border-radius: 4px;      /* Rounded corners */
    padding: 10px;           /* Padding inside the console area */
    margin: 10px auto;       /* Center horizontally */
    font-family: monospace;  /* Monospace font for console feel */
    white-space: pre-wrap;   /* Preserve whitespace and wrapping */
    max-width: 930px;        /* Set max width to 2.5 times an action button width (250px) */
    width: auto;             /* Ensure the width fits the content */
    min-width: 630px;        /* Set min width to the same as the action button */
    position: relative;      /* Add positioning context */
}

/* Centering the console vertically and horizontally */
#page-content-wrapper {
    display: flex;
    /* justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Take at least the full viewport height to center correctly */
}