modules = ["nodejs-20"]

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 34895096
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true
